* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .products-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px 40px;
  }
  
  .products {
    width: 400px;
    /* margin: 10px; */
    /* border: solid 1px black; */
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  }
  
  img {
    /* border: solid 1px black; */
  
  
    width: 380px;
    height: 300px;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: rgb(57, 132, 182);
  
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  a:hover {
    color: red;
  }
  
  a:active {
    color: black;
  }
  
  #input-panel {
    border: solid rgb(57, 132, 182) 1px;
    padding: 5px;
  }
  
  #input-panel div input {
    height: 40px;
    width: 600px;

    border: solid rgb(57, 132, 182) 1px;
    border-radius: 5px;
    margin: 10px;
  
    font-size: larger;
    outline: none;
  }

  
#input-panel div input:focus {
    background-color: rgba(57, 132, 182, 0.2);
    border: 2px solid rgb(242, 121, 110);
  }

  #input-panel div i {
    position: absolute;
    padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
    font-size: 35px;
    right: 0;
    opacity: 0;
  }
  
  .failure-icon,
  .error {
    color: red;
  }
  
  .success-icon {
    color: green;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  } 
  
  #input-panel > button {
    margin: 10px;
    border: 1px solid white;
    color: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    cursor: pointer;
  }
  
  #input-panel > button:hover {
    color: white;
    transition: 0.2s;
  }
  
  #input-panel > #input-btn {
    background-color: rgb(57, 132, 182);
  }
  
  #input-panel > #input-btn:hover {
    background-color: rgb(0, 95, 95);
  }
  
  #input-panel > #input-btn:active {
    background-color: white;
    color: rgb(57, 132, 182);
    border: 1px solid rgb(57, 132, 182);
  }
  
  #input-panel > #delete-btn {
    background-color: red;
  }
  
  #input-panel > #delete-btn:hover {
    background-color: rgb(95, 0, 0);
  }
  
  #input-panel > #delete-btn:active {
    background-color: white;
    color: red;
    border: 1px solid red;
  }
  
  .wa-btns {
    background-color: green;
    color: white;
    border: 1px solid white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
    width: fit-content;
    align-self: center;
  }
  
  .wa-btns:hover {
    background-color: rgb(0, 95, 0);
    color: white;
    transition: 0.2s;
    transform: scale(1.05);
  }
  
  .wa-btns:active {
    background-color: white;
    color: green;
  
    border: 1px solid green;
  }
  
  